# Ignore all other projects
MCU1_GPIO_Driver_Baremetal/
MCU1_GPIO_Driver_Baremetal/.settings/
MCU1_GPIO_Driver_Baremetal_Ind_Study/
MCU1_GPIO_Driver_Baremetal_Ind_Study2/
MCU1_GPIO_Driver_Baremetal_Interrupt/autogen/
MCU1_GPIO_Driver_Baremetal_Interrupt/bsp/
MCU1_GPIO_Driver_Baremetal_Interrupt/Debug/
MCU1_GPIO_Driver_Baremetal_Interrupt/.settings/
MCU1_GPIO_Driver_Baremetal_Interrupt/.cproject
MCU1_GPIO_Driver_Baremetal_Interrupt/.project
MCU1_GPIO_Driver_Baremetal_Interrupt/*.launch
MCU1_GPIO_Driver_Baremetal_Interrupt/*.ld
Clock_ADC_Config/
Clock_HSI_Measurement/
Clock_HSI_Measurement_GUI/
Clcok/
Discovery_GPIO_Driver/
Empty_Project/
MCU1_Button_Interrupt/
MCU1_GPIO_Driver/
MCU1_GPIO_Driver2_noComments/
Nucelo_Toggle/
stm32f4xx_drivers/
stm32f4xx_drivers_ClassRepo_dont_Change_OnlyCopy/
Artful_Bytes/
test.c
.metadata/
.vscode/
